.mt-10 {
    margin-top: 100px;

    @media (max-width: 991px) {
        margin-top: 75px;
    }
}

.center {
    @media (max-width: 991px) {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
