.title-bordered {
    color: white;
    text-decoration: none;

    &::after {
        content: "";
        height: 2px;
        width: 0;
        transition: width 0.5s;
        background: var(--gradient);
        display: block;
        margin-top: 5px;
    }

    &:hover::after {
        width: 100%;
    }
}

.btn-ui {
    cursor: pointer;
    padding: 15px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 30px;
    background: #1f1f1f;
    background-clip: padding-box;
    color: white;

    &:hover {
        background: var(--gradien-bg);
        transition: 0.5s;
    }
}

.btn-ui::after {
    display: flex;
    align-items: center;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: var(--gradient-additional);
    content: "";
    z-index: -1;
    border-radius: 30px;
}

.card-lg {
    padding: 0;
    position: relative;
    max-width: 500px;
    background: var(--gradient-card);
    border-radius: 30px;

    .title {
        font-weight: 800;
        padding: 20px 40px;
    }

    .novelty-discount {
        width: 100%;
        position: absolute;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(90deg, #2c082d 2.93%, #2e051b 100%);
            border-radius: 10px;
            width: 150px;
            height: 40px;
        }
    }

    img {
        width: 300px;
    }

    .content {
        padding: 0 40px;

        .rate {
            img {
                width: 40px;
                height: 40px;   
            }
        }

        .price-buy {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .price {
                .price-past {
                    text-decoration: line-through;
                    color: var(--inactive);
                }
            }

            button {
                padding: 15px 40px;
                border: 2px solid #a92a6f;
                background: initial;
                color: white;

                &:hover {
                    z-index: 1;
                }
            }
        }
    }

    .additional {
        display: none;
    }

    &:hover {
        .additional {
            /*  position: absolute; */
            padding: 0 40px;
            display: block;
        }
    }
}
